<div class="w-[1028px] h-[340px] shadow-xl rounded-[10px] pl-[30px] pt-[30px] mb-[32px]">
  <div class="text-[24px] text-[#0E306D] font-bold mb-[30px] leading-[24px]">
    Performance Comparison
  </div>
  <div class="flex w-full">
    <div class="w-[200px] text-[#0E306D] font-bold text-[12px] pt-[14px]  " id="chart-label">
      <div class="h-[24px] w-[194px] mb-[15px] pl-[17px] flex items-center rounded-[12px] cursor-pointer"
           [ngClass]="enterMouseMemoryType === 'a' ? 'active-label': 'inactive-label'"
           (mouseenter)="mouseEnter('a')" (mouseleave)="mouseLeave('a')">DRAM only</div>
      <div class="h-[24px] w-[194px] mb-[15px] pl-[17px] flex items-center rounded-[12px] cursor-pointer"
           [ngClass]="enterMouseMemoryType === 'b' ? 'active-label': 'inactive-label'"
           (mouseenter)="mouseEnter('b')" (mouseleave)="mouseLeave('b')">
        DRAM & CXL Memory
      </div>
      <div class="h-[24px] w-[194px] mb-[15px] pl-[17px] flex items-center rounded-[12px] cursor-pointer"
           [ngClass]="enterMouseMemoryType === 'c' ? 'active-label': 'inactive-label'"
           (mouseenter)="mouseEnter('c')" (mouseleave)="mouseLeave('c')">
        DRAM & CXL CMS
      </div>
      <div class="h-[24px] w-[194px] mb-[15px] pl-[17px] flex items-center rounded-[12px] cursor-pointer"
           [ngClass]="enterMouseMemoryType === 'd' ? 'active-label': 'inactive-label'"
           (mouseenter)="mouseEnter('d')" (mouseleave)="mouseLeave('d')">
        DRAM & CXL CMS x2
      </div>
      <div class="h-[24px] w-[194px] mb-[15px] pl-[17px] flex items-center rounded-[12px] cursor-pointer"
           [ngClass]="enterMouseMemoryType === 'e' ? 'active-label': 'inactive-label'"
           (mouseenter)="mouseEnter('e')" (mouseleave)="mouseLeave('e')">
        DRAM & CXL CMS x4
      </div>
    </div>

    <div>
      <div class="w-[681px] h-[202px] relative">
        <canvas
          baseChart
          [data]="barChartData"
          [labels]="['Q1', 'Q2', 'Q3']"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [type]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">

        </canvas>
<!--        <div class="absolute bg-[rgba(255,255,255,0.7)] z-[999]">-->
        <div class="absolute bg-[rgba(255,255,255,0.7)] w-[664px] h-[27px] z-[999] top-[19px]"
             *ngIf="enterMouseMemoryType!=='a' && currentMemoryType !== 'a'">
        </div>
        <div class="absolute bg-[rgba(255,255,255,0.7)] w-[664px] h-[27px] z-[999] top-[56px]">
        </div>

        <div class="absolute bg-[rgba(255,255,255,0.7)] w-[664px] h-[27px] z-[999] top-[92px]">
        </div>

        <div class="absolute bg-[rgba(255,255,255,0.7)] w-[664px] h-[27px] z-[999] top-[129px]">
        </div>

        <div class="absolute bg-[rgba(255,255,255,0.7)] w-[664px] h-[27px] z-[999] top-[166px]">
        </div>
      </div>
      <div class="text-[14px] font-bold text-[#0E306D] mt-[20px] text-center">
        Execution Time
      </div>
    </div>
  </div>


</div>
