<div class="flex flex-col h-[81px]">
  <div class="w-[1240px] flex items-end h-full pl-[128px]">
    <img src="assets/icons/hynix_icon.svg"
         class="w-[86px] h-[40px] mr-[48px] mb-[21px]" alt="">
    <img src="assets/icons/telecom_icon.svg" class="w-[105px] h-[40px] mb-[21px]" alt="">
    <span class="font-bold text-[#0E306D] text-[30px] mb-[8px] ml-[40px]">
      CXL-enabled In-Memory Data Analytics Platform
    </span>
  </div>
  <div class="w-full flex">
    <div class="h-[4px] w-[68%] bg-[#FF8B20]"></div>
    <div class="h-[4px] w-[32%] bg-[#EA002C]"></div>
  </div>
</div>
