<mat-card class="m-3 max-w-xl">
  <div>
<!--    <button mat-raised-button (click)="onShuffleImageClick()"-->
<!--            color="primary" class="!mb-3">Shuffle Image-->
<!--    </button>-->
    k=
    <mat-form-field>
      <input matInput type="number">
    </mat-form-field>
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>City</mat-label>-->
<!--      <input matInput placeholder="Ex. San Francisco">-->
<!--    </mat-form-field>-->
  </div>
  <mat-grid-list cols="3" rowHeight="1:1" class="max-w-lg">
    <mat-grid-tile *ngFor="let image of randomImages">
      <div [id]="'image-' + image.index" class="relative w-full h-full">

        <img src='{{image.fileName}}' alt="" class="absolute z-0 object-cover">
        <div class="absolute layer z-40 !hidden"></div>
        <mat-spinner class="absolute top-1/2
         left-1/2 transform -translate-x-1/2
         -translate-y-1/2 !hidden z-60">
        </mat-spinner>
        <mat-icon aria-hidden="false" aria-label="Example home icon"
                  class="!absolute top-1/2
         left-1/2 transform -translate-x-1/2
         -translate-y-1/2 !hidden z-60 col-white w-20 h-20"
                  fontIcon="check"></mat-icon>

      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
