<div class="flex h-[80px] px-[50px] justify-between items-center">
  <div class="font-bold text-[30px] text-[#0E306D]">Select Image</div>
  <div class="font-bold text-[24px] text-[#0E306D]">
    <span class="text-[#F58025]">{{selectedImage.length}}</span> of 10 image(s) selected
  </div>
</div>
<div class="flex h-[4px] ">
  <div class="w-full bg-[#FF8B20]"></div>
  <div class="w-[288px] bg-[#EA002C]"></div>
</div>
<div class="pt-[20px] pr-[50px] flex justify-end">
  <div class="cursor-pointer rounded-[4px] bg-[#474747] w-[155px] h-[39px] mr-[17px]
   flex justify-center items-center
  text-white font-semibold text-[18px]" (click)="onShuffle()">
    Random Image
  </div>
  <div class="cursor-pointer rounded-[4px] bg-[#327FF3] w-[72px] h-[39px]
   flex justify-center items-center
  text-white font-semibold text-[18px]" (click)="onSave()">
    Save
  </div>
</div>
<div class="grid grid-cols-6 gap-[24px] px-[50px] mt-[32px] mb-[32px]">
  <div *ngFor="let image of sampleImages; let i= index" class="relative">
    <img src='{{image.fileName}}' alt="" (click)="toggleImage(image)"
         [ngClass]="checkActiveImage(image)"
         class="w-[170px] h-[170px] z-0 object-contain fade-in rounded-[2px]">
    <img  *ngIf="checkImage(image)"

      src="assets/icons/modal_check_icon.svg" alt="modal check image"
         class="absolute right-[8px] top-[8px]">
  </div>
</div>
